<div class="relative">
  <div class="min-h-max w-full grid grid-flow-col items-center backdrop-blur-md bg-gradient-to-r from-green-700 via-slate-900 to-secondary shadow-lg">
    <div class="flex h-full items-center justify-center px-2">
      <img src="assets/img/coat.png" alt="" class="w-20">
    </div>
    <div class="grow flex justify-center text-center items-center small:pt-8 small:pb-4 break1:py-6">
      <article class="prose text-white">
         The United republic of Tanzania
        <h2 class="text-white">e GOVERNMENT AUTHORITY</h2>
        Integrity and Innovation for Quality Public Service Delivery
      </article>
    </div>
    <div class="flex h-full items-center justify-center px-2">
      <img src="assets/img/ega.png" alt="" class="w-32">
    </div>
  </div>
</div>
