<div class="my-4 grid sm:grid-cols-2 lg:grid-cols-4 m-8 font-serif gap-3  mt-16">
  <div class="service-block">
    <div class="absolute -top-3">
      <fa-icon [icon]="faGear" class="bg-accent text-white py-6 px-5 rounded-md" size="2xl"></fa-icon>
    </div>
    <div class="prose mt-6">
      <h3>Service One</h3>
    </div>
    <div class="prose">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem ea
        consectetur fugiat! Necessitatibus, optio
      </p>
    </div>
    <div class="py-2">
      <a routerLink="" class="font-medium text-accent"> Read More </a>
    </div>
  </div>
  <div class="service-block">
    <div class="absolute -top-3">
      <fa-icon [icon]="faGlobe" class="bg-primary text-white py-6 px-5 rounded-md" size="2xl"></fa-icon>
    </div>
    <div class="prose mt-6">
      <h3>Service Two</h3>
    </div>
    <div class="prose">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem ea
        consectetur fugiat! Necessitatibus, optio
      </p>
    </div>
    <div class="py-2">
      <a routerLink="" class="font-medium text-primary"> Read More </a>
    </div>
  </div>
  <div class="service-block">
    <div class="absolute -top-3">
      <fa-icon [icon]="faEnvelope" class="bg-accent text-white py-6 px-5 rounded-md" size="2xl"></fa-icon>
    </div>
    <div class="prose mt-6">
      <h3>Service Three</h3>
    </div>
    <div class="prose">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem ea
        consectetur fugiat! Necessitatibus, optio
      </p>
    </div>
    <div class="py-2">
      <a routerLink="" class="font-medium text-accent"> Read More </a>
    </div>
  </div>
  <div class="service-block">
    <div class="absolute -top-3">
      <fa-icon [icon]="faUser" class="bg-primary text-white py-6 px-5 rounded-md" size="2xl"></fa-icon>
    </div>
    <div class="prose mt-6">
      <h3>Service Four</h3>
    </div>
    <div class="prose">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem ea
        consectetur fugiat! Necessitatibus, optio
      </p>
    </div>
    <div class="py-2">
      <a routerLink="" class="font-medium text-primary"> Read More </a>
    </div>
  </div>
</div>

