<div class="flex justify-center min-w-full bg-gradient-to-r from-secondary to-primary">
  <div class="md:py-8 small:py-4 max-w-7xl small:px-4">

    <div class="mx-auto flex prose justify-center after:w-10 after:h-1 after:bg-accent after:rounded-full after:absolute after:-bottom-2 relative">
        <h2 class="text-white">ACHIEVEMENT</h2>
    </div>

    <div class="flex bg-white rounded-xl my-4">

          <div class="grid sm:grid-cols-2 lg:grid-cols-4 m-8 gap-4 font-serif">
                <div class="flex flex-col items-center gap-2 rounded-lg shadow-md justify-center text-center p-4">
                  <img src="assets/img/coat.png" alt="" class="w-20 h-30">
                  <p class="text-md font-light">2012 Multimedia Awards From Board Of Lorem Ipsum Art</p>
                </div>

                <div class="flex flex-col items-center gap-2 rounded-lg shadow-md justify-center text-center p-4">
                  <img src="assets/img/ega.png" alt="" class="w-40 h-30">
                  <p class="text-md font-light">2012 Multimedia Awards From Board Of Lorem Ipsum Art</p>
                </div>

                <div class="flex flex-col items-center gap-2 rounded-lg shadow-md justify-center text-center p-4">
                  <img src="assets/img/coat.png" alt="" class="w-20 h-30">
                  <p class="text-md font-light">2012 Multimedia Awards From Board Of Lorem Ipsum Art</p>
                </div>

                <div class="flex flex-col items-center gap-2 rounded-lg shadow-md justify-center text-center p-4">
                  <img src="assets/img/ega.png" alt="" class="w-40 h-30">
                  <p class="text-md font-light">2012 Multimedia Awards From Board Of Lorem Ipsum Art</p>
                </div>
          </div>

    </div>

  </div>
</div>
