
<app-header></app-header>

<div class="mt-14 small:mt-0">
  <app-banner></app-banner>
  <div class="sticky top-10 z-[9999]">
    <app-navbar></app-navbar>
  </div>

<!-- Page Switch -->
    <router-outlet></router-outlet>
<!-- End of page switch -->

</div>

<button id="scrollToTopButton" class="fixed bottom-5 small:right-5 bg-accent hover:bg-secondary text-white rounded-full font-medium p-2 w-14 h-14">
    <fa-icon [icon]="faArrowUp" size="xl" class=""></fa-icon>
</button>
<app-footer></app-footer>
