<div class="bg-primary/30 m-2 p-3 border-l-4 border-accent">
  <article class="prose">
    <h2> Historia</h2>
  </article>
</div>

<div class="flex m-2  border-t-2">
  <div class="bg-white shadow-md w-full">
  <article class="prose min-w-full p-4">
    <h2>Historia Yetu</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan et mauris et consectetur. Aliquam non
      pellentesque mauris. Phasellus a est ut ex convallis blandit vitae eget ante. Nulla cursus convallis ligula, in
      cursus eros euismod eget. Nunc velit libero, faucibus a dolor eu, vulputate tempus magna. Sed porttitor
      condimentum nisi, et consectetur tortor egestas scelerisque. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Fusce semper sem lectus, cursus hendrerit dui gravida vitae. Etiam quis fermentum velit. Quisque at
      posuere odio. Proin congue ligula non maximus laoreet. Phasellus porta ante quis purus auctor, id fermentum dui
      ornare. <br><br>

      Curabitur at lacinia purus. Maecenas iaculis non velit vitae fermentum. Nullam ante metus, congue quis
      pellentesque nec, consectetur vitae dolor. Phasellus vehicula eu massa sit amet fringilla. Suspendisse malesuada
      tincidunt pulvinar. Morbi arcu massa, rhoncus in eros ut, suscipit sagittis felis. Nullam euismod aliquet purus,
      sit amet convallis est cursus a. Phasellus aliquet lectus at varius luctus. Vestibulum aliquet ex id est sodales,
      non consequat elit porta.<br><br>

      Vestibulum non varius tellus. Duis ornare felis ac metus consectetur, quis rhoncus eros vehicula. Aliquam vel
      mauris neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc a tellus a ante porta tincidunt.
      Aliquam sed blandit velit, id consectetur risus. Integer condimentum eget libero et sollicitudin. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce pharetra fringilla nunc, ut congue
      leo malesuada vitae. Ut sed lacus leo. Nam dapibus, nibh vitae molestie eleifend, libero purus congue odio, at
      vestibulum magna odio ac sapien.<br><br>

      In pulvinar, arcu et lacinia ullamcorper, neque elit convallis elit, vel molestie odio nunc at arcu. Fusce pretium
      mi felis, in iaculis magna suscipit a. Nunc lorem urna, sagittis ut ligula in, efficitur ornare enim. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus posuere nec enim mollis
      vulputate. Proin vestibulum mattis ante, in suscipit elit laoreet quis. Cras consectetur massa vitae fermentum
      tincidunt. Quisque convallis dolor eu dolor feugiat, id commodo arcu consequat. Duis nec nulla ac mi varius
      sodales. Mauris vitae dui placerat, volutpat erat sed, mattis felis. Aenean tempor, lectus vitae feugiat
      fringilla, quam dui hendrerit massa, ac venenatis metus tortor non massa. Donec vehicula vehicula lectus, at
      mattis dui consequat eget. Curabitur pharetra dictum sem ut hendrerit. Fusce mollis sit amet ex nec mollis. Fusce
      volutpat libero quam, in vestibulum diam molestie.
    </p>
  </article>
</div>
</div>
