<footer class="bg-primary text-white">
  <div class=" md:container mx-auto py-12 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel arcu vel felis ultricies pulvinar.</p>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Contact</h3>
        <p>Email: contact@example.com</p>
        <p>Phone: +0000 000000</p>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
        <a routerLink="" class="text-white hover:text-accent">Facebook</a><br>
        <a routerLink="" class="text-white hover:text-accent">Twitter</a><br>
        <a routerLink="" class="text-white hover:text-accent">Instagram</a>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Statistics</h3>
        <div>
          <ul class="flex w-full justify-center my-2">
            <li><a routerLink="">Today: 100</a></li>
            <li><a routerLink="">Daily: 800</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center bg-secondary/30 text-center text-sm">
    <div>
      <ul class="flex w-full justify-center my-2">
        <li><a routerLink="">Sitemap</a></li>
        <li><a routerLink="">Privacy Policy</a></li>
        <li><a routerLink="">Terms & Conditions</a></li>
        <li><a routerLink="">Copyright Statement</a></li>
        <li><a routerLink="">Disclaimer</a></li>
      </ul>
    </div>
    <div>
      <p class="py-4 text-slate-300">
        The website is Developed And Maintained By <a routerLink="" class="text-white">e-Government Authority</a> Content
        Maintained by e GOVERNMENT AUTHORITY<br>
        © Copyright 2023, All Rights Reserved
      </p>
    </div>

  </div>
</footer>
