<footer class="bg-primary text-white">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave-shape">
    <path fill="#ffffff" fill-opacity="1" d="M0,192L48,165.3C96,139,192,85,288,80C384,75,480,117,576,117.3C672,117,768,75,864,85.3C960,96,1056,160,1152,186.7C1248,213,1344,203,1392,197.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg> -->
  <div class=" md:container mx-auto py-12 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel arcu vel felis ultricies pulvinar.</p>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Contact</h3>
        <p>Email: contact@example.com</p>
        <p>Phone: +0000 000000</p>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
        <a href="#" class="text-white hover:text-accent">Facebook</a><br>
        <a href="#" class="text-white hover:text-accent">Twitter</a><br>
        <a href="#" class="text-white hover:text-accent">Instagram</a>
      </div>
      <div class="text-center">
        <h3 class="text-lg font-semibold mb-4">Statistics</h3>
        <div>
          <ul class="flex w-full justify-center my-2">
            <li><a href="">Today: 100</a></li>
            <li><a href="">Daily: 800</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center bg-secondary/30 text-center text-sm">
    <div>
      <ul class="flex w-full justify-center my-2">
        <li><a href="">Sitemap</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Copyright Statement</a></li>
        <li><a href="">Disclaimer</a></li>
      </ul>
    </div>
    <div>
      <p class="py-4 text-slate-300">
        The website is Developed And Maintained By <a href="" class="text-white">e-Government Authority</a> Content
        Maintained by e GOVERNMENT AUTHORITY<br>
        © Copyright 2023, All Rights Reserved
      </p>
    </div>

  </div>
</footer>
