<div class="flex flex-col mx-auto max-w-full my-6 break1:px-6 small:p-2 break1:pb-8 bg-gradient-to-r from-secondary to-primary shadow-lg">

  <div class="mx-auto flex prose justify-center after:w-10 after:h-1 my-4 py-1 after:bg-accent after:rounded-full after:absolute after:-bottom-1 relative">
    <h2 class="text-white">CONTENTS</h2>
  </div>

  <div class="grid small:grid-cols-1 break1:grid-cols-3 gap-4 w-full relative">
    <!-- Main Section -->
     <app-news></app-news>
     <app-events></app-events>
     <app-announcement></app-announcement>
     <!-- End Of Main Section -->
  </div>

</div>

<!-- Our Service -->
  <div class="flex w-full h-96 bg-white">

  </div>
<!-- End Of Our Service -->

<!-- Achievement -->
<app-achievement></app-achievement>
<!-- End of Achievement -->

<div class="flex justify-center my-4 gap-2">
  <div class="w-8 h-1 bg-primary rounded-full"></div>
  <div class="w-8 h-1 bg-accent rounded-full"></div>
  <div class="w-8 h-1 bg-primary rounded-full"></div>
</div>
<div class="bg-white shadow-lg rounded-lg max-w-7xl mx-auto flex md:h-96 small:h-auto">
  <div class="grid small:grid-cols-1 break1:grid-cols-3 gap-1 w-full relative">

  </div>
</div>
