<div class="shadow-md bg-white p-3 rounded-xl shadow-secondary">
  <div class="flex flex-row justify-between bg-gradient-to-l from-secondary to-primary p-4 rounded-t-xl">
  <div class="flex items-center font-semibold prose-lg text-white">MATANGAZO<span class="prose mx-2 text-white text-sm text-center font-light"> &nbsp; --
      Click To Read</span>
  </div>
  <div class="mx-1 flex">
     <fa-icon [icon]="faBullhorn" class="text-white" size="lg"></fa-icon>
  </div>
  </div>
  <div>
    <ul class="divide-y-2">
      <li class="flex space-x-4 items-center hover:bg-secondary/20 py-4">
        <div class="w-1/4 h-12">
          <img src="assets/img/ega.png" alt="News" class="object-cover w-full h-full rounded-xl">
        </div>
        <div >
        <a href="" class="flex flex-col gap-1 space-y-1">
          <div class="prose text-sm font-light">10 Apr,2023<span class="bg-green-700 py-1 motion-safe:animate-pulse rounded-lg px-2 text-white ml-3">New</span></div>
          <div class="font-medium">Announcement Number One</div>
        </a>
        </div>
      </li>
      <li class="flex space-x-4 items-center hover:bg-secondary/20 py-4">
        <div class="w-1/4 h-12">
          <img src="assets/img/ega.png" alt="News" class="object-cover w-full h-full rounded-xl">
        </div>
        <div >
        <a href="" class="flex flex-col gap-1 space-y-1">
          <div class="prose text-sm font-light">10 Apr,2023<span class="bg-green-700 py-1 motion-safe:animate-pulse rounded-lg px-2 text-white ml-3">New</span></div>
          <div class="font-medium"> Announcement Number Two</div>
        </a>
        </div>
      </li>
      <li class="flex space-x-4 items-center hover:bg-secondary/20 py-4">
        <div class="w-1/4 h-12">
          <img src="assets/img/ega.png" alt="News" class="object-cover w-full h-full rounded-xl">
        </div>
        <div >
        <a href="" class="flex flex-col gap-1 space-y-1">
          <div class="prose text-sm font-light">10 Apr,2023<span class="bg-yellow-700 py-1 rounded-lg px-2 text-white ml-3">2 Month Ago</span></div>
          <div class="font-medium">Announcement Number Three</div>
        </a>
        </div>
      </li>
    </ul>
    <a href="" class="flex justify-center py-2 font-medium text-secondary rounded-md hover:bg-secondary hover:text-white">
      More Announcement ->
   </a>
  </div>
</div>
