/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.service-block{
  @apply relative flex flex-col shadow-md bg-slate-100 rounded-md p-5 justify-center items-center text-center;
}
.eventCard{
  @apply flex space-x-4 items-center hover:bg-secondary/20 py-4;
}
.newsCard{
  @apply flex space-x-4 items-center hover:bg-secondary/20 py-2;
}
.visionCard{
  @apply flex small:flex-col break1:flex-row w-full bg-white break1:divide-x-2 gap-4 p-4 items-center rounded-lg shadow-md;
}
.news{
  @apply flex space-x-4 items-center hover:bg-secondary/20 py-4;
}
.pulicationItem{
  @apply flex gap-4 p-4 bg-white rounded-sm;
}
.howDoI{
  @apply p-2 bg-white m-2 rounded-sm shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-100 duration-300;
}
.annoucementCard{
  @apply flex space-x-4 items-center hover:bg-secondary/20 py-4;
}
.achievementCard
{
  @apply flex flex-col items-center gap-2 rounded-lg shadow-md justify-center text-center p-4;
}
.carouselText{
  @apply absolute bottom-0 left-0 right-0 p-8  text-center bg-white/90;
}
.linksHover{
  @apply hover:bg-primary/10 break1:rounded-lg rounded-none;
}


ul li{
  padding: 8px 4px;
}

ul li ul li:hover{
  background-color: theme('colors.accent');
}

ul li button{
  padding: 4px 4px;
  box-sizing: border-box;
}

.submenu.open {
  display: block;
}

/* carousel Control */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.carousel-dots {
  gap: 0.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #999;
  cursor: pointer;
}

.carousel-navigation {
  right: 1rem;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-button:hover .hidden {
  visibility: visible;
}
.caretDown{
  color: theme('colors.primary');
}

/* Carousel Control End */
