<div class="bg-primary/30 m-2 p-3 border-l-4 border-accent">
  <article class="prose">
    <h2> Dira Na Dhamira </h2>
  </article>
</div>
<div class="m-2 px-4 py-10 border-t-2 flex flex-col gap-2">
  <div class="visionCard">
    <div class="min-w-max">
      <article class="prose">
        <h2 class="text-secondary font-serif">Dira Yetu</h2>
      </article>
    </div>
    <div class="px-4">
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan et mauris et consectetur. Aliquam
          non pellentesque mauris. Phasellus a est ut ex convallis blandit vitae eget ante.</p>
      </article>
    </div>
  </div>

  <div class="visionCard">
    <div class="min-w-max">
      <article class="prose">
        <h2 class="text-secondary font-serif">Dhamira Yetu</h2>
      </article>
    </div>

    <div class="px-4">
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan et mauris et consectetur. Aliquam non
          pellentesque mauris. Phasellus a est ut ex convallis blandit vitae eget ante. Nulla cursus convallis ligula,
          in cursus eros euismod eget.</p>
      </article>
    </div>
  </div>
</div>
